<html>
    <head>
        <title>Antoha's blog</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
    </head>

    <body>

        <header>
            <a href="@routes.Application.index"><h1>Antoha's blog</h1></a>
            <h2>About me</h2>
        </header>

        <article class="posts">

            <ul>
                <li>
                    <header>
                        <div class="title">Antoha's bio</div>
                    </header>
                    <p>Here goes my biography!</p>
                </li>
            </ul>

        </article>

    </body>

</html>