@(posts: List[Post])
<html>
    <head>
        <title>Antoha's blog</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.js")"></script>
    </head>

    <body>

        <header>
            <h1>Antoha's blog</h1>
            <h2>There are some thoughts of him</h2>
        </header>

        <article class="posts">

            <ul>
            @for(post <- posts) {
                <li>
                    <header>
                        <div class="title">@post.title</div>
                        <div class="author">@post.author posted on @post.date</div>
                    </header>
                    <p>@post.content</p>
                </li>
            }
            </ul>

        </article>

    </body>

</html>
